
.navbar-nav{   
  margin-right: 85px;
  display: flex;
  flex-direction: row;
  height: 90px;
  padding: 0;
  text-align: left;
  border-radius: 0;
  align-items: center;
  justify-content: space-between;
  }

  .buffer{
    height: 50px;
  }

  #logo{
    margin-left: 40px;
  }

  .anouncement-content-wrapper{
    display:flex;
     align-items: center;
     justify-content: space-between;
     width:530px;
  
  }
  
  .alert{
    background-color: grey;
  }
  .alert-content-padding{
    margin-right: 10px;
  }

  .hero_wrapper{
    margin-left: 800px;
    margin-top: 80px;
    float: center;
    align-items: center;
  
  }

  .face-position{
    margin-left: 200px;
    margin-bottom: 50px;
  }

  .namefont{
    font-family: 'Lobster', sans-serif;
  }
  
 
  .the-real-herosection-container{
    display: block;
    height: 1080px;
    align-items: center;
    justify-content: center;
    
  
       
  }

  .searchComponentContainer{
    background-color: black;
  }


  .HomePageContainer{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  }


.contact-title{
  align-items: center;
  margin-top: 30px;
}



.contactContainer{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

.pagination{
  justify-content: space-between;
  align-items: center;
  margin-bottom: 500px;
}

.pagination-container{
  display: flex;
  justify-content: center;
  align-items: center;
}



.owlCarousel{
  background-color: black;
  height: 800px;
 
}

