
.navbar-nav{   
  margin-right: 85px;
  display: flex;
  flex-direction: row;
  height: 90px;
  padding: 0;
  text-align: left;
  border-radius: 0;
  align-items: center;
  justify-content: space-between;
  }

  .buffer{
    height: 50px;
  }

  #logo{
    margin-left: 40px;
  }

  .anouncement-content-wrapper{
    display:flex;
     align-items: center;
     width:530px;
     margin-left: 600px;
  }
  
  .alert{
    background-color: rgb(68, 122, 230);
  }
  .alert-content-padding{
    margin-right: 10px;
  }

  .hero_wrapper{
   display: flex;
    margin-left: 400px;
    margin-top: 80px;
    float: center;
    align-items: center;
  
  }

  .face-position{
    margin-left: 200px;
    margin-bottom: 50px;
  }

  .info{
    margin-left: 20px;
    margin-right: 100px;
    text-align: center;
  }

  .txtdec {
    text-decoration: underline;
    text-decoration-color: purple;
    text-decoration-thickness: 3px;
    font-weight: bold;
  }

  .txtdec2 {
    text-decoration: underline;
   -webkit-text-fill-color: blueviolet;
    font-weight: bold;
  }

  .namefont{
    font-family: 'Lobster', sans-serif;
  }
  
  .summary{

  }
 
  .the-real-herosection-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
  
       
  }

  .searchComponentContainer{
    background-color: black;
  }


  .HomePageContainer{
    
    height: 1000vh;
    width:1600px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  }


.contact-title{
  align-items: center;
  margin-top: 30px;
}



.contactContainer{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

.pagination{
  justify-content: space-between;
  align-items: center;
  margin-bottom: 500px;
}

.pagination-container{
  display: flex;
  justify-content: center;
  align-items: center;
}



.owlCarousel{
  background-color: black;
  height: 800px;
 
}

#logo{
  
}

.emailform{
 display: flex;
 flex-direction: column;
}

.forminput{
  margin: 10px 0px;
}

.listitem{
  margin-bottom: 8px;
}



